<html>
  
  <head>
  </head>

  <body>
    <div>
      You have recently visited our Notes App website and entered your email.
      <br />
      Please follow the given link to verify your email.
      <a href="http://localhost:5173/user/verify/{{token}}">Verify your email</a>
      <br />
      Thanks,
    </div>
  </body>

</html>